<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>links</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/form-student" method="post">
            <h1 style="margin: 30px;">Click to get form to create a Student</h1>
            <div style="margin-left: 30px;">
                <button type="submit">Create Student</button>
            </div>
            
        </form>
        <form action="/form-batch" method="post">
            <h1 style="margin: 30px;">Click to get form to create Batch</h1>
            <div style="margin-left: 30px;">
                <button type="submit">Create Batch</button>
            </div>
            
        </form>
        <form action="/form-course" method="post">
            <h1 style="margin: 30px;">Click to get form to create Course</h1>
            <div style="margin-left: 30px;">
                <button type="submit">Create Course</button>
            </div>
            
        </form>
        <form action="/form-teacher" method="post">
            <h1 style="margin: 30px;">Click to get form for Teacher</h1>
            <div style="margin-left: 30px;">
                <button type="submit">Create Teacher</button>
            </div>
            
        </form>
        <script src="" async defer></script>
    </body>
</html>